/* You can add global styles to this file, and also import other style files */
@import './assets/styles/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --primary-color: #dc3545;
    --dark-color: #333333;
    --light-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: #fff;
    color: #333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    &:hover {
        color: #666;
    }
}

ul {
    list-style: none;
}

input {
    display: block;
    width: 100%;
    padding: .4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: .5rem;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

table th {
    background: var(--light-color);
}

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: .4rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: .5rem;
    transition: opacity .2s;
    outline: none;
    &:disabled {
        background: var(--dark-color);
        color: #fff;
        cursor: not-allowed;
    }
    &:hover:not(:disabled) {
        opacity: .8;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.text-center {
    text-align: center;
}


.swagger-ui .info, .swagger-ui .scheme-container, .swagger-ui .opblock-tag small, .swagger-ui .authorization__btn, .swagger-ui section.models, .swagger-ui .opblock-tag{
    display: none !important;
}
.swagger-container {
    width: 100%;
}
.swagger-ui .opblock{
    margin: 0 0 19px !important;
}
.swagger-ui .opblock .opblock-summary{
    height: 72px;
}
/* .wrapper h4{
    display: none !important;
} */
.swagger-ui .opblock .opblock-summary-method{
    height: 56px;
    padding: 18px 15px !important;
}

.panels .swagger-ui, .panels .swagger-ui .parameter__name,.panels .swagger-ui .parameter__type,.panels .swagger-ui .btn,
.panels .swagger-ui table thead tr td,.panels .swagger-ui table thead tr th,.panels .swagger-ui .response-col_status,
.panels .swagger-ui .opblock-description-wrapper p,.panels  .swagger-ui .opblock-external-docs-wrapper p,.panels  .swagger-ui .opblock-title_normal p,
.panels .swagger-ui .responses-inner h4,.panels .swagger-ui .responses-inner h5,.panels .swagger-ui .opblock .opblock-summary-description,
.panels .swagger-ui .opblock .opblock-summary-operation-id,.panels .swagger-ui .opblock .opblock-summary-path,.panels .swagger-ui .opblock .opblock-summary-path__deprecated,
.panels .swagger-ui table tbody tr td,.panels .swagger-ui .model-title,.panels .swagger-ui .model,.panels .swagger-ui .model .prop span,
.panels .swagger-ui .opblock .opblock-section-header>label,.panels .swagger-ui .opblock .opblock-section-header h4{
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.panels .swagger-ui .opblock .opblock-summary-operation-id,.panels .swagger-ui .opblock .opblock-summary-path,.panels .swagger-ui .opblock .opblock-summary-path__deprecated{
    font-size: 14px;
    font-weight: bold;
}
.panels .swagger-ui .opblock .opblock-section-header{
    background: rgba(255, 255, 255, 0.08);
}
.panels .swagger-ui input[type=email],.panels .swagger-ui input[type=file],.panels .swagger-ui input[type=password],
.panels .swagger-ui input[type=search],.panels .swagger-ui input[type=text],.panels .swagger-ui textarea{
    color: black;
}
.panels .swagger-ui .opblock{
    margin: 0 0 19px !important;
}
.panels .swagger-ui .opblock .opblock-summary{
    height: 40px;
}
.panels .swagger-ui .opblock .opblock-summary-method{
    height: 28px;
    padding: 4px 0px !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}
